header {
  height: 80px;
  margin: 15px;
  background: #d5d4d5;
  padding: 15px;
}

.timer {
  float: right;
}

.card-header h1 {
  justify-content: center;
  text-align: center;
}

#question-title {
  text-align: center;
}

.card {
  width: 40%;
  height: 400px;
  background-color: #242333;
  color: rgb(150, 147, 147);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 15px;
}

.hide {
  display: none;
}

#saveBtn {
  margin: 10px;
}

#score-lbl {
  margin: 10px;
}